src/module-vsbridge-indexer-core/etc/vsbridge.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="typeDefinition" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="typeDefinition">
        <xs:attribute type="xs:string" name="identifier" use="required"/>
        <xs:attribute type="xs:string" name="mapping" use="required"/>
    </xs:complexType>
</xs:schema>
